---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description: string;
  class?: string | null;
}

const { title, description, class: className } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Fragment slot='head'>
    <meta property='og:type' content='website' />
    <slot name='head' />
  </Fragment>

  <Header />

  <main class={`page-main ${className ?? ''}`}>
    <slot />
  </main>

  <Footer />
</BaseLayout>
